## Ignore build results, temporary and backup files, older working files, etc.

/venv
**/output
**/*.backup
**/*.bak
**/working
**/artifacts
**/.DS_Store

## Temporary disabling of docs folder

**/docs
