<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>AEacute</key>
  <string>A_E_acute.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acaron</key>
  <string>A_caron.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Adotacent</key>
  <string>A_dotacent.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>Aogonek.alt</key>
  <string>A_ogonek.alt.glif</string>
  <key>Aogonek.alt2</key>
  <string>A_ogonek.alt2.glif</string>
  <key>Aogonek.euro</key>
  <string>A_ogonek.euro.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Aringacute</key>
  <string>A_ringacute.glif</string>
  <key>Aslash</key>
  <string>A_slash.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>BASE</key>
  <string>B_A_S_E_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>Chi.Latin</key>
  <string>C_hi.L_atin.glif</string>
  <key>ChiLatin</key>
  <string>C_hiL_atin.glif</string>
  <key>Cslash</key>
  <string>C_slash.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Dlinebelow</key>
  <string>D_linebelow.glif</string>
  <key>Dmacronbelow</key>
  <string>D_macronbelow.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Emacronacute</key>
  <string>E_macronacute.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Eogonek.alt</key>
  <string>E_ogonek.alt.glif</string>
  <key>Eogonek.alt2</key>
  <string>E_ogonek.alt2.glif</string>
  <key>Eogonek.euro</key>
  <string>E_ogonek.euro.glif</string>
  <key>Eopen</key>
  <string>E_open.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Eturned</key>
  <string>E_turned.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>GammaLatin</key>
  <string>G_ammaL_atin.glif</string>
  <key>Gbar</key>
  <string>G_bar.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcaron</key>
  <string>G_caron.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gcommaaccent</key>
  <string>G_commaaccent.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>Glottalstop</key>
  <string>G_lottalstop.glif</string>
  <key>Gmacron</key>
  <string>G_macron.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hcaron</key>
  <string>H_caron.glif</string>
  <key>Hcircumflex</key>
  <string>H_circumflex.glif</string>
  <key>Hdotbelow</key>
  <string>H_dotbelow.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>IJacute</key>
  <string>I_J_acute.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibar</key>
  <string>I_bar.glif</string>
  <key>Ibarred</key>
  <string>I_barred.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icaron</key>
  <string>I_caron.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Idotaccent</key>
  <string>I_dotaccent.glif</string>
  <key>Idotbelow</key>
  <string>I_dotbelow.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Iogonek.alt</key>
  <string>I_ogonek.alt.glif</string>
  <key>Iogonek.alt2</key>
  <string>I_ogonek.alt2.glif</string>
  <key>IotaLatin</key>
  <string>I_otaL_atin.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Jbar</key>
  <string>J_bar.glif</string>
  <key>Jcaron</key>
  <string>J_caron.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kacute</key>
  <string>K_acute.glif</string>
  <key>Kcommaaccent</key>
  <string>K_commaaccent.glif</string>
  <key>Kdotbelow</key>
  <string>K_dotbelow.glif</string>
  <key>Klinebelow</key>
  <string>K_linebelow.glif</string>
  <key>Kmacronbelow</key>
  <string>K_macronbelow.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lacute</key>
  <string>L_acute.glif</string>
  <key>Lambda.Latin</key>
  <string>L_ambda.L_atin.glif</string>
  <key>LambdaLatin</key>
  <string>L_ambdaL_atin.glif</string>
  <key>Lambdabar</key>
  <string>L_ambdabar.glif</string>
  <key>Lambdabar.alt</key>
  <string>L_ambdabar.alt.glif</string>
  <key>Lambdabarcommaabove</key>
  <string>L_ambdabarcommaabove.glif</string>
  <key>Lambdabarcommaabove.alt</key>
  <string>L_ambdabarcommaabove.alt.glif</string>
  <key>Lbar</key>
  <string>L_bar.glif</string>
  <key>Lbelt</key>
  <string>L_belt.glif</string>
  <key>Lcaron</key>
  <string>L_caron.glif</string>
  <key>Lcommaaccent</key>
  <string>L_commaaccent.glif</string>
  <key>Ldblbar</key>
  <string>L_dblbar.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Ldotbelow</key>
  <string>L_dotbelow.glif</string>
  <key>Llinebelow</key>
  <string>L_linebelow.glif</string>
  <key>Lmacronbelow</key>
  <string>L_macronbelow.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>Lwavybar</key>
  <string>L_wavybar.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Macute</key>
  <string>M_acute.glif</string>
  <key>Mdotbelow</key>
  <string>M_dotbelow.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Ncommaaccent</key>
  <string>N_commaaccent.glif</string>
  <key>Ndotbelow</key>
  <string>N_dotbelow.glif</string>
  <key>Nlinebelow</key>
  <string>N_linebelow.glif</string>
  <key>Nlongright</key>
  <string>N_longright.glif</string>
  <key>Nmacronbelow</key>
  <string>N_macronbelow.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obar</key>
  <string>O_bar.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocaron</key>
  <string>O_caron.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Odotaccent</key>
  <string>O_dotaccent.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohungarumlaut</key>
  <string>O_hungarumlaut.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Omacronacute</key>
  <string>O_macronacute.glif</string>
  <key>Oogonek</key>
  <string>O_ogonek.glif</string>
  <key>Oogonek.alt</key>
  <string>O_ogonek.alt.glif</string>
  <key>Oogonek.alt2</key>
  <string>O_ogonek.alt2.glif</string>
  <key>Oogonekmacron</key>
  <string>O_ogonekmacron.glif</string>
  <key>Oogonekmacron.alt</key>
  <string>O_ogonekmacron.alt.glif</string>
  <key>Oogonekmacron.alt2</key>
  <string>O_ogonekmacron.alt2.glif</string>
  <key>Oopen</key>
  <string>O_open.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Oslashacute</key>
  <string>O_slashacute.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>Rcommaaccent</key>
  <string>R_commaaccent.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Schwa</key>
  <string>S_chwa.glif</string>
  <key>Schwaogonek</key>
  <string>S_chwaogonek.glif</string>
  <key>Schwaogonek.alt</key>
  <string>S_chwaogonek.alt.glif</string>
  <key>Schwaogonek.alt2</key>
  <string>S_chwaogonek.alt2.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>Scommaaccent</key>
  <string>S_commaaccent.glif</string>
  <key>Sdotbelow</key>
  <string>S_dotbelow.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Tcaron</key>
  <string>T_caron.glif</string>
  <key>Tcedilla</key>
  <string>T_cedilla.glif</string>
  <key>Tcommaaccent</key>
  <string>T_commaaccent.glif</string>
  <key>Tdotaccent</key>
  <string>T_dotaccent.glif</string>
  <key>Theta.Latin</key>
  <string>T_heta.L_atin.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tlinebelow</key>
  <string>T_linebelow.glif</string>
  <key>Tmacronbelow</key>
  <string>T_macronbelow.glif</string>
  <key>Tslash</key>
  <string>T_slash.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubar</key>
  <string>U_bar.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucaron</key>
  <string>U_caron.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uhungarumlaut</key>
  <string>U_hungarumlaut.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Uogonek.alt</key>
  <string>U_ogonek.alt.glif</string>
  <key>Uogonek.alt2</key>
  <string>U_ogonek.alt2.glif</string>
  <key>Uogonek.euro</key>
  <string>U_ogonek.euro.glif</string>
  <key>UpsilonLatin</key>
  <string>U_psilonL_atin.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>Vhook</key>
  <string>V_hook.glif</string>
  <key>Vturned</key>
  <string>V_turned.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wacute</key>
  <string>W_acute.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>Wdieresis</key>
  <string>W_dieresis.glif</string>
  <key>Wgrave</key>
  <string>W_grave.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Ygrave</key>
  <string>Y_grave.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zcircumflex</key>
  <string>Z_circumflex.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>Zlinebelow</key>
  <string>Z_linebelow.glif</string>
  <key>Zmacronbelow</key>
  <string>Z_macronbelow.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acaron</key>
  <string>acaron.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutecomb.cap</key>
  <string>acutecomb.cap.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>adotacent</key>
  <string>adotacent.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>aeacute</key>
  <string>aeacute.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>aogonek.alt</key>
  <string>aogonek.alt.glif</string>
  <key>aogonek.alt2</key>
  <string>aogonek.alt2.glif</string>
  <key>aogonek.euro</key>
  <string>aogonek.euro.glif</string>
  <key>apostrophemodifier</key>
  <string>apostrophemodifier.glif</string>
  <key>apostropheturnedmodifier</key>
  <string>apostropheturnedmodifier.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>aringacute</key>
  <string>aringacute.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>aslash</key>
  <string>aslash.glif</string>
  <key>aslash.2</key>
  <string>aslash.2.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>barcomb</key>
  <string>barcomb.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceleft.case</key>
  <string>braceleft.case.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>braceright.case</key>
  <string>braceright.case.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketleft.case</key>
  <string>bracketleft.case.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bracketright.case</key>
  <string>bracketright.case.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brevecomb.cap</key>
  <string>brevecomb.cap.glif</string>
  <key>brevecomb.narrow</key>
  <string>brevecomb.narrow.glif</string>
  <key>breveinvertedcomb</key>
  <string>breveinvertedcomb.glif</string>
  <key>breveinvertedcomb.cap</key>
  <string>breveinvertedcomb.cap.glif</string>
  <key>breveinvertedcomb.narrow</key>
  <string>breveinvertedcomb.narrow.glif</string>
  <key>breveinvertedtiecomb</key>
  <string>breveinvertedtiecomb.glif</string>
  <key>breveinvertedtiecomb.cap</key>
  <string>breveinvertedtiecomb.cap.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>caronSlovak</key>
  <string>caronS_lovak.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caroncomb.cap</key>
  <string>caroncomb.cap.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chi.Latin</key>
  <string>chi.L_atin.glif</string>
  <key>chiLatin</key>
  <string>chiL_atin.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>circumflexcomb.cap</key>
  <string>circumflexcomb.cap.glif</string>
  <key>clickalveolar</key>
  <string>clickalveolar.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colonmodifier</key>
  <string>colonmodifier.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaabovecomb</key>
  <string>commaabovecomb.glif</string>
  <key>commaabovecomb.cap</key>
  <string>commaabovecomb.cap.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>commaaccentturnedabovecomb</key>
  <string>commaaccentturnedabovecomb.glif</string>
  <key>commaaccentturnedabovecomb.cap</key>
  <string>commaaccentturnedabovecomb.cap.glif</string>
  <key>commarightcomb</key>
  <string>commarightcomb.glif</string>
  <key>commarightcomb.case</key>
  <string>commarightcomb.case.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>cslash</key>
  <string>cslash.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dieresiscomb.cap</key>
  <string>dieresiscomb.cap.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dlinebelow</key>
  <string>dlinebelow.glif</string>
  <key>dmacronbelow</key>
  <string>dmacronbelow.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dollar.2</key>
  <string>dollar.2.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotaccentcomb.cap</key>
  <string>dotaccentcomb.cap.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessiogonek</key>
  <string>dotlessiogonek.glif</string>
  <key>dotlessiogonek.alt</key>
  <string>dotlessiogonek.alt.glif</string>
  <key>dotlessiogonek.alt2</key>
  <string>dotlessiogonek.alt2.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.LP</key>
  <string>eight.L_P_.glif</string>
  <key>eight.dnom</key>
  <string>eight.dnom.glif</string>
  <key>eight.numr</key>
  <string>eight.numr.glif</string>
  <key>eightinferior</key>
  <string>eightinferior.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emacronacute</key>
  <string>emacronacute.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emdash.case</key>
  <string>emdash.case.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>endash.case</key>
  <string>endash.case.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>eogonek.alt</key>
  <string>eogonek.alt.glif</string>
  <key>eogonek.alt2</key>
  <string>eogonek.alt2.glif</string>
  <key>eogonek.euro</key>
  <string>eogonek.euro.glif</string>
  <key>eopen</key>
  <string>eopen.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>eturned</key>
  <string>eturned.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>exclamdown.case</key>
  <string>exclamdown.case.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fhook</key>
  <string>fhook.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.LP</key>
  <string>five.L_P_.glif</string>
  <key>five.dnom</key>
  <string>five.dnom.glif</string>
  <key>five.numr</key>
  <string>five.numr.glif</string>
  <key>fiveinferior</key>
  <string>fiveinferior.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.LP</key>
  <string>four.L_P_.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>four.numr</key>
  <string>four.numr.glif</string>
  <key>fourinferior</key>
  <string>fourinferior.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gammaLatin</key>
  <string>gammaL_atin.glif</string>
  <key>gbar</key>
  <string>gbar.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gcaron</key>
  <string>gcaron.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>gcommaaccent</key>
  <string>gcommaaccent.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>glottal</key>
  <string>glottal.glif</string>
  <key>glottalmodifier</key>
  <string>glottalmodifier.glif</string>
  <key>glottalmodifier.alt</key>
  <string>glottalmodifier.alt.glif</string>
  <key>glottalreversed</key>
  <string>glottalreversed.glif</string>
  <key>glottalstop</key>
  <string>glottalstop.glif</string>
  <key>gmacron</key>
  <string>gmacron.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravecomb.cap</key>
  <string>gravecomb.cap.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>gscript</key>
  <string>gscript.glif</string>
  <key>gsmallcap</key>
  <string>gsmallcap.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotleft.case</key>
  <string>guillemotleft.case.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guillemotright.case</key>
  <string>guillemotright.case.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglleft.case</key>
  <string>guilsinglleft.case.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>guilsinglright.case</key>
  <string>guilsinglright.case.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>halflongsign</key>
  <string>halflongsign.glif</string>
  <key>halflongsign.alt</key>
  <string>halflongsign.alt.glif</string>
  <key>halfringrightmodifier</key>
  <string>halfringrightmodifier.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hcaron</key>
  <string>hcaron.glif</string>
  <key>hcircumflex</key>
  <string>hcircumflex.glif</string>
  <key>hdotbelow</key>
  <string>hdotbelow.glif</string>
  <key>hlinebelow</key>
  <string>hlinebelow.glif</string>
  <key>hmacronbelow</key>
  <string>hmacronbelow.glif</string>
  <key>hmodifier</key>
  <string>hmodifier.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hungarumlautcomb.cap</key>
  <string>hungarumlautcomb.cap.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen.case</key>
  <string>hyphen.case.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.dotless</key>
  <string>i.dotless.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibar</key>
  <string>ibar.glif</string>
  <key>ibar.dotless</key>
  <string>ibar.dotless.glif</string>
  <key>ibarred</key>
  <string>ibarred.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icaron</key>
  <string>icaron.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotbelow</key>
  <string>idotbelow.glif</string>
  <key>idotbelow.dotless</key>
  <string>idotbelow.dotless.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>ijacute</key>
  <string>ijacute.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>iogonek.alt</key>
  <string>iogonek.alt.glif</string>
  <key>iogonek.alt2</key>
  <string>iogonek.alt2.glif</string>
  <key>iogonek.dotless</key>
  <string>iogonek.dotless.glif</string>
  <key>iogonek.dotless.alt</key>
  <string>iogonek.dotless.alt.glif</string>
  <key>iogonek.dotless.alt2</key>
  <string>iogonek.dotless.alt2.glif</string>
  <key>iotaLatin</key>
  <string>iotaL_atin.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.dotless</key>
  <string>j.dotless.glif</string>
  <key>jbar</key>
  <string>jbar.glif</string>
  <key>jbar.dotless</key>
  <string>jbar.dotless.glif</string>
  <key>jcaron</key>
  <string>jcaron.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kacute</key>
  <string>kacute.glif</string>
  <key>kcommaaccent</key>
  <string>kcommaaccent.glif</string>
  <key>kdotbelow</key>
  <string>kdotbelow.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>kip</key>
  <string>kip.glif</string>
  <key>klinebelow</key>
  <string>klinebelow.glif</string>
  <key>kmacronbelow</key>
  <string>kmacronbelow.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lambda.Latin</key>
  <string>lambda.L_atin.glif</string>
  <key>lambdaLatin</key>
  <string>lambdaL_atin.glif</string>
  <key>lambdabar</key>
  <string>lambdabar.glif</string>
  <key>lambdabar.alt</key>
  <string>lambdabar.alt.glif</string>
  <key>lambdabarcommaabove</key>
  <string>lambdabarcommaabove.glif</string>
  <key>lambdabarcommaabove.alt</key>
  <string>lambdabarcommaabove.alt.glif</string>
  <key>lbar</key>
  <string>lbar.glif</string>
  <key>lbelt</key>
  <string>lbelt.glif</string>
  <key>lbelt.alt</key>
  <string>lbelt.alt.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>lcommaaccent</key>
  <string>lcommaaccent.glif</string>
  <key>ldblbar</key>
  <string>ldblbar.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>ldotbelow</key>
  <string>ldotbelow.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>llinebelow</key>
  <string>llinebelow.glif</string>
  <key>lmacronbelow</key>
  <string>lmacronbelow.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>longsign</key>
  <string>longsign.glif</string>
  <key>longsign.alt</key>
  <string>longsign.alt.glif</string>
  <key>longslashcomb</key>
  <string>longslashcomb.glif</string>
  <key>lowlinecomb</key>
  <string>lowlinecomb.glif</string>
  <key>lowlinecomb.M</key>
  <string>lowlinecomb.M_.glif</string>
  <key>lowlinecomb.N</key>
  <string>lowlinecomb.N_.glif</string>
  <key>lowlinecomb.W</key>
  <string>lowlinecomb.W_.glif</string>
  <key>lowlinecomb.connect</key>
  <string>lowlinecomb.connect.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>lwavybar</key>
  <string>lwavybar.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macroncomb.cap</key>
  <string>macroncomb.cap.glif</string>
  <key>macroncomb.narrow</key>
  <string>macroncomb.narrow.glif</string>
  <key>macute</key>
  <string>macute.glif</string>
  <key>mdotbelow</key>
  <string>mdotbelow.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>napostrophe</key>
  <string>napostrophe.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncommaaccent</key>
  <string>ncommaaccent.glif</string>
  <key>ndotbelow</key>
  <string>ndotbelow.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.LP</key>
  <string>nine.L_P_.glif</string>
  <key>nine.dnom</key>
  <string>nine.dnom.glif</string>
  <key>nine.numr</key>
  <string>nine.numr.glif</string>
  <key>nineinferior</key>
  <string>nineinferior.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>nlinebelow</key>
  <string>nlinebelow.glif</string>
  <key>nlongright</key>
  <string>nlongright.glif</string>
  <key>nmacronbelow</key>
  <string>nmacronbelow.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numero</key>
  <string>numero.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obar</key>
  <string>obar.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocaron</key>
  <string>ocaron.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>odotaccent</key>
  <string>odotaccent.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>ogonekcomb.alt</key>
  <string>ogonekcomb.alt.glif</string>
  <key>ogonekcomb.alt2</key>
  <string>ogonekcomb.alt2.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>omacronacute</key>
  <string>omacronacute.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.LP</key>
  <string>one.L_P_.glif</string>
  <key>one.dnom</key>
  <string>one.dnom.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>oneinferior</key>
  <string>oneinferior.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oogonek</key>
  <string>oogonek.glif</string>
  <key>oogonek.alt</key>
  <string>oogonek.alt.glif</string>
  <key>oogonek.alt2</key>
  <string>oogonek.alt2.glif</string>
  <key>oogonekmacron</key>
  <string>oogonekmacron.glif</string>
  <key>oogonekmacron.alt</key>
  <string>oogonekmacron.alt.glif</string>
  <key>oogonekmacron.alt2</key>
  <string>oogonekmacron.alt2.glif</string>
  <key>oopen</key>
  <string>oopen.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>oslashacute</key>
  <string>oslashacute.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft.case</key>
  <string>parenleft.case.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenright.case</key>
  <string>parenright.case.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>periodcentered.case</key>
  <string>periodcentered.case.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>questiondown.case</key>
  <string>questiondown.case.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>rcommaaccent</key>
  <string>rcommaaccent.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ringbelowcomb</key>
  <string>ringbelowcomb.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringcomb.cap</key>
  <string>ringcomb.cap.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>schwa</key>
  <string>schwa.glif</string>
  <key>schwaogonek</key>
  <string>schwaogonek.glif</string>
  <key>schwaogonek.alt</key>
  <string>schwaogonek.alt.glif</string>
  <key>schwaogonek.alt2</key>
  <string>schwaogonek.alt2.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>scommaaccent</key>
  <string>scommaaccent.glif</string>
  <key>sdotbelow</key>
  <string>sdotbelow.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.LP</key>
  <string>seven.L_P_.glif</string>
  <key>seven.dnom</key>
  <string>seven.dnom.glif</string>
  <key>seven.numr</key>
  <string>seven.numr.glif</string>
  <key>seveninferior</key>
  <string>seveninferior.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.LP</key>
  <string>six.L_P_.glif</string>
  <key>six.dnom</key>
  <string>six.dnom.glif</string>
  <key>six.numr</key>
  <string>six.numr.glif</string>
  <key>sixinferior</key>
  <string>sixinferior.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>slashcomb</key>
  <string>slashcomb.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>tcedilla</key>
  <string>tcedilla.glif</string>
  <key>tcommaaccent</key>
  <string>tcommaaccent.glif</string>
  <key>tdotaccent</key>
  <string>tdotaccent.glif</string>
  <key>theta.Latin</key>
  <string>theta.L_atin.glif</string>
  <key>thetamodifier</key>
  <string>thetamodifier.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.LP</key>
  <string>three.L_P_.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>threeinferior</key>
  <string>threeinferior.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildecomb.cap</key>
  <string>tildecomb.cap.glif</string>
  <key>tlinebelow</key>
  <string>tlinebelow.glif</string>
  <key>tmacronbelow</key>
  <string>tmacronbelow.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tslash</key>
  <string>tslash.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.LP</key>
  <string>two.L_P_.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>two.numr</key>
  <string>two.numr.glif</string>
  <key>twoinferior</key>
  <string>twoinferior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubar</key>
  <string>ubar.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucaron</key>
  <string>ucaron.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>undertie</key>
  <string>undertie.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>uogonek.alt</key>
  <string>uogonek.alt.glif</string>
  <key>uogonek.alt2</key>
  <string>uogonek.alt2.glif</string>
  <key>uogonek.euro</key>
  <string>uogonek.euro.glif</string>
  <key>upsilonLatin</key>
  <string>upsilonL_atin.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vhook</key>
  <string>vhook.glif</string>
  <key>vlinebelowcomb</key>
  <string>vlinebelowcomb.glif</string>
  <key>vlinemodifier</key>
  <string>vlinemodifier.glif</string>
  <key>vturned</key>
  <string>vturned.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wavybarcomb</key>
  <string>wavybarcomb.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>wmodifier</key>
  <string>wmodifier.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>ymodifier</key>
  <string>ymodifier.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zcircumflex</key>
  <string>zcircumflex.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.LP</key>
  <string>zero.L_P_.glif</string>
  <key>zero.dnom</key>
  <string>zero.dnom.glif</string>
  <key>zero.numr</key>
  <string>zero.numr.glif</string>
  <key>zeroinferior</key>
  <string>zeroinferior.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zlinebelow</key>
  <string>zlinebelow.glif</string>
  <key>zmacronbelow</key>
  <string>zmacronbelow.glif</string>
  <key>zmodifier</key>
  <string>zmodifier.glif</string>
</dict>
</plist>
