$black: #000;
$white: #FFF;

$orange-50:  #fef6ee;
$orange-100: #fdead7;
$orange-200: #f9d1af;
$orange-300: #f5b07c;
$orange-400: #f08648;
$orange-500: #ec6523;
$orange-600: #dd4c19;
$orange-700: #b73817;
$orange-800: #922e1a;
$orange-900: #762818;
$orange-950: #40120a;

$navy-50:  #f3f8f8;
$navy-100: #dfebee;
$navy-200: #c3d9de;
$navy-300: #9abdc6;
$navy-400: #699aa7;
$navy-500: #4e7e8c;
$navy-600: #436977;
$navy-700: #3b5763;
$navy-800: #364b54;
$navy-900: #314048;
$navy-950: #233139;

$red-50: #fef2f3;
$red-100: #fde3e4;
$red-200: #fdcbcd;
$red-300: #faa7ab;
$red-400: #f4757b;
$red-500: #ea4950;
$red-600: #d72b33;
$red-700: #bf2229;
$red-800: #961e23;
$red-900: #7c2024;
$red-950: #430c0e;

$body-font-family: 'Skeena Indigenous', Verdana, sans-serif;
$body-text-color: $black;
$body-background-color: $white;

$link-color: $navy-700;
$btn-primary-color: $navy-900;

$sidebar-color: $navy-50;

// Ours
$link-color-content: $orange-800;
