DEF_LOOKUP "xxxx.mark_r_lowline" PROCESS_BASE PROCESS_MARKS MARK_GLYPH_SET "marks_lowline" DIRECTION LTRIN_CONTEXT LEFT ENUM GLYPH "r" GLYPH "racute" GLYPH "rcaron" GLYPH "rcommaaccent" END_ENUMEND_CONTEXTAS_POSITIONADJUST_SINGLE GLYPH "lowlinecomb.N" BY POS DX 80 END_POSEND_ADJUSTEND_POSITION
END